.s-button {
    outline: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    height: 50px;
    line-height: 49px;
    padding: 0 8px;
    background: #ff3900;
    background: -webkit-linear-gradient(#ff7800, #ff6100, #ff2500, #ff0100);
    background:         linear-gradient(#ff7800, #ff6100, #ff2500, #ff0100);
    border-radius: 4px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.s-button:hover {
    background: #008ed2;
    color: #eee;
}
