.s-counter {
    margin: 0 auto;
    width: 243px;
    font-size: 15px;
    line-height: 17px;
    color: #000;
    white-space: nowrap;
}

    .s-counter__left {
        display: inline-block;
        vertical-align: top;
        margin-top: 5px;
    }

    .s-counter__right {
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;
    }

        .s-counter__right__wrapper {
            position: relative;
        }

            .s-counter__right__wrapper__center {
                display: inline-block;
                vertical-align: top;
                padding: 0 33px;
            }

            .s-counter__right__wrapper__center__field {
                display: inline-block;
                vertical-align: top;
                text-align: center;
            }

        .s-counter__right__wrapper__left {
            position: absolute;
            top: 0;
            left: 0;
        }

            .s-counter__right__wrapper__left__minus {
                width: 28px;
                height: 27px;
                line-height: 27px;
                background: #ababab;
                text-align: center;
                color: #fff;
            }


        .s-counter__right__wrapper__right {
            position: absolute;
            top: 0;
            right: 0;
        }

            .s-counter__right__wrapper__right__plus {
                width: 28px;
                height: 27px;
                line-height: 27px;
                background: #ababab;
                text-align: center;
                color: #fff;
            }
