.s-field {

}

    .s-field__label {
        margin: 0 0 6px;
        font-size: 15px;
        color: #000;
    }

    .s-field__input {
        outline: none;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: 35px;
        padding: 0 9px;
        border: 1px solid #d1d1d1;
        border-radius: 5px;
        font-size: 16px;
        color: #8f8f8f;
        background: #f6f6f6;
    }

    .s-field__input_small {
        border-radius: 0;
        height: 25px;
        text-align: center;
        color: #000;
        width: 47px;
        border: 1px solid #d1d1d1;
        background: #f6f6f6;
    }


    .s-field__input::-webkit-input-placeholder { color: #b3b3b3; }
    .s-field__input::-moz-placeholder { color: #b3b3b3; }
    .s-field__input:-ms-input-placeholder { color: #b3b3b3; }

    .s-field__input_black::-webkit-input-placeholder { color: #000; }
    .s-field__input_black::-moz-placeholder { color: #000; }
    .s-field__input_black:-ms-input-placeholder { color: #000; }

    .field__input:hover::-webkit-input-placeholder { color: #7e7e7e; }
    .field__input:hover::-moz-placeholder { color: #7e7e7e; }
    .field__input:hover:-ms-input-placeholder { color: #7e7e7e; }

    .field__input:focus::-webkit-input-placeholder { color: #7e7e7e; }
    .field__input:focus::-moz-placeholder { color: #7e7e7e; }
    .field__input:focus:-ms-input-placeholder { color: #7e7e7e; }
