.s-frame {
    background: #fff;
    border: 2px solid #5da7ec;
    border-radius: 5px;
    margin: 15px 22px 20px 21px;
    padding: 17px 18px 26px;
    box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.23);
    width: 738px;
}

.s-frame_calc {
    width: 731px;
}

